include README.md
include README.rst
include LICENSE
include pytest.ini
include .travis.yml
include Makefile
recursive-include tests *
recursive-include examples *
recursive-include verilogcode *
recursive-include img *
recursive-include scripts *
